<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>
    <display-name>b404.be</display-name>
    <servlet-name>b404.ApplicationConfig</servlet-name>
    <init-param>
      <param-name>javax.ws.rs.ApplicationConfig</param-name>
      <param-value>b404.ApplicationConfig</param-value>
    </init-param>
  </servlet>
</web-app>
